tensorflow
fastapi==0.115.0
uvicorn==0.31.0
numpy
matplotlib
pandas
absl-py
aiofiles
annotated-types
anyio
astunparse
certifi
charset-normalizer
click
colorama
contourpy
cycler
ffmpy
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
gradio
gradio_client
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
importlib_resources
Jinja2
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
opt-einsum
optree
orjson
packaging
pillow
protobuf
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
requests
rich
ruff
semantic-version
setuptools
shellingham
six
sniffio
starlette
tensorboard
tensorboard-data-server
termcolor
tomlkit
tqdm
typer
typing_extensions
tzdata
urllib3
websockets
Werkzeug
wheel
wrapt
